#chat-screen .status-bar,
#chat-screen {
  background-color: var(--background-color);
}

#chat-screen .status-bar {
  z-index: 5;
}

.main-chat {
  margin-top: 160px;
}

.chat__timestamp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.chat__timestamp-line {
  width: 100%;
  border-bottom: 1px solid var(--text-color);
}

.chat__timestamp-text {
  display: flex;
  justify-content: center;
  width: 1000px;
  font-size: 14px;
}

.maeeage-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.maeeage-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.massege__author {
  color: black;
  opacity: 0.8;
  font-size: 15px;
  margin-bottom: 5px;
  display: block;
}

.massege__bubble {
  display: block;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 6px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.27);
}

.massage-row--own {
  justify-content: flex-end;
}

.massage-row--own .massege__bubble {
  background-color: rgba(0, 0, 0, 0.01);
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.massage-row--own .massege__bubble {
  order: 1;
}

.massage-row--own .massege__info {
  order: 0;
}

.massege__time {
  display: block;
  margin: 8px 20px;
  color: black;
  opacity: 0.5;
  font-size: 15px;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  height: 30px;
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -3px;
  top: 2px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 10px;
}

.fa-arrow-up {
  color: var(--text-color);
}

.reply__column button {
  background-color: var(--background-color);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply i {
  opacity: 0.7;
}

.reply__column button i {
  opacity: 1;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-surprise,
.reply:focus-within button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-surprise,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 91.5vw;
  transform: translateX(-11%) translateY(-150px);
  height: 50px;
  font-size: 20px;
}

.reply:focus-within {
  bottom: -50px;
  transform: translateY(80px);
}
