#no-mobile-mobile {
  position: absolute;
  z-index: 98;
  height: 200vh;
  background-color: var(--background-color);
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  padding-top: 50vh;
  top: 0;
}

#no-mobile-chatting {
  position: absolute;
  z-index: 98;
  height: 200vh;
  background-color: var(--background-color);
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  padding-top: 50vh;
  top: 0;
}

#no-mobile-strong {
  display: none;
}




@media screen and (orientation:portrait){
  #no-mobile-strong {
    display: none;
  }
  
  #no-mobile-mobile {
    display: none;
  }
  
  #no-mobile-chatting {
    display: none;
  }
}
