.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  padding-top: 40px;
  align-items: center;
}

.screen-header-chats {
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
  color: var(--text-color);
}

.screen-header__icons span {
  margin-left: 25px;
  color: var(--text-color);
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: scale(1.1) rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1.5s linear infinite;
}
